<!DOCTYPE html>
<html>
  <head>
    <title>Login Pet Shop</title>
    <link rel="stylesheet" href="../css/styles-login.css" />
  </head>
  <body>
    <div class="login-container">
      <h1>Bem-vindo ao nosso Pet Shop!</h1>
      <form action="pagina-inicial.html" method="post">
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Entrar</button>
      </form>
      <p>Não tem uma conta? <a href="register.html">Cadastre-se</a></p>
    </div>

    <script src="script.js"></script>
  </body>
</html>
